<!DOCTYPE html>
<html>
<head>
    <title>Real-time Battery Data Plot</title>
</head>
<body>
    <h1>Real-time Battery Data Plot</h1>
    
    <form method="POST" action="/plot">
        <label for="battery_number">Enter the battery number (e.g., 1, 2, 3, 4):</label>
        <input type="number" name="battery_number" id="battery_number" required>
        <button type="submit">Generate Plot</button>
    </form>
    
    <form id="refresh-form" method="POST" action="/plot">
        <input type="hidden" name="battery_number" value="{{ battery_no }}">
        <button type="submit">Refresh</button>
    </form>

    {% if image %}
    <h2>Battery {{ battery_no }} Data</h2>
    <img src="data:image/png;base64,{{ image }}" alt="Battery Data Plot" style="max-width: 40%; height: auto ;">
    {% endif %}
    
    <script>
        // Function to automatically submit the form every 1 second
        function autoRefresh() {
            document.getElementById("refresh-form").submit();
        }
        // Call the autoRefresh function every 5 second
        setInterval(autoRefresh, 5000); // 1000 milliseconds = 1 second
    </script>
</body>
</html>
